@media screen and (min-width: 900px) {
  body {
    font-size: 2.3rem;
  }

  header {
    height: 100px;
    padding: 0 50px;
  }
  header div ul li {
    margin-left: 50px;
  }
  header figure img {
    height: 50%;
  }

  .hero {
    max-width: 900px;
  }
  .hero figure {
    height: 600px;
    max-width: 700px;
    width: auto;
  }
  .hero figure img {
    width: 100%;
  }
  .hero__text {
    max-width: 600px;
  }
  .hero__text h1 {
    font-size: 3.9rem;
  }
  .hero button {
    max-width: 300px;
    font-size: 2.5rem;
  }

  .specifications {
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .specifications__card {
    padding: 0 30px;
  }

  .final-description {
    max-width: 1400px;
    flex-direction: row;
  }
  .final-description figure {
    width: 50%;
  }
  .final-description div {
    width: 50%;
  }

  .comments {
    max-width: 1024px;
  }

  .register {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .register__card__inputs {
    display: flex;
  }
  .register__card__inputs input {
    width: 70%;
    margin-right: 5%;
  }
  .register__card__inputs button {
    width: 25%;
  }
}