html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  background-color: #181f2a;
  color: #eef;
}

*, *:before, *:after {
  box-sizing: inherit;
  color: #eef;
}

body {
  font-size: 1.4rem;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 75px;
}
header figure {
  display: flex;
  align-items: center;
  height: 100%;
}
header figure img {
  height: 30%;
}
header div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60vw;
}
header div ul {
  display: flex;
  align-items: center;
  padding: 0;
}
header div ul li {
  margin-left: 10px;
  list-style: none;
}
header div ul li a {
  text-decoration: none;
  color: #eef;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 130px;
  text-align: center;
}
.hero figure {
  width: 100vw;
  max-width: 400px;
}
.hero figure img {
  width: 75%;
  height: auto;
}
.hero__text {
  width: 100vw;
  padding: 0 7%;
}
.hero button {
  width: 60%;
  height: 40px;
  border: none;
  border-radius: 40px;
  background-color: #65e2d9;
}

.specifications {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 7%;
  margin-bottom: 50px;
}
.specifications__card {
  margin-bottom: 50px;
}
.specifications__card figure img {
  height: 50px;
}

.final-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7%;
  margin-bottom: 130px;
}
.final-description figure {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.final-description figure img {
  width: 80%;
}
.final-description div button {
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid #65e2d9;
  background-color: rgba(0, 0, 0, 0);
  color: #65e2d9;
  cursor: pointer;
}
.final-description div button span {
  margin-left: 7px;
}

.comments {
  padding: 0 7%;
}
.comments__card {
  background-color: #202a3c;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 7px;
}
.comments__card__perfil {
  display: flex;
  align-items: center;
}
.comments__card__perfil h4 {
  margin: 0 0 3px;
}
.comments__card__perfil h6 {
  margin: 0;
  font-weight: 400;
}
.comments__card__perfil figure {
  margin-right: 10px;
}
.comments__card__perfil figure img {
  border-radius: 50%;
  height: 40px;
}