//Primary
$intro-and-email: 	#1c2431
$main-background: 	#181f2a
$fppter-background: 	#0b1523
$testimonials-background: 	#202a3c
//Accent
$cyan:	#65e2d9
$blue: hsl(198, 60%, 50%)
$ligh-red: 	#ff4242
//Neutral
$white: #fff
//Font-sizes
$font-size-normal: 1.4rem
//Font families
$font-family-headings: 'Raleway', sans-serif
$font-family-body: 'Open Sans', sans-serif